<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    
    <body>
        <h1 th:text="${smoothie.nimi}">Hanavesi</h1>
        <p>Raaka-aineet:</p>
        <ul>
            <li th:each="annosRA: ${resepti}">
                <span th:text="${annosRA.raakaAine.nimi}"> Vesi </span>
                <span th:text="${annosRA.maara}">2</span><span>dl</span>
            </li>
        </ul>
        
        <p>Ohje:</p>
        <ol>
            <li th:each="annosRA: ${resepti}">
                <span th:text="${annosRA.ohje}"> Leikkaa/Sekoita/Lisää/Joku muu ohje </span>
            </li>
        </ol> <br/>
        
        <h2>Sivukartta:</h2>
        <a href="/">Etusivu</a><br/>
        <a href="/smoothiet">Muokkaa reseptejä</a><br/>
        <a href="/raakaaineet">Lisää/Poista raaka-aineita</a><br/>
        <a href="/tilastot">Tarkastele smoothieihin liittyviä tilastoja</a><br/>
        
    </body>
</html>
