<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SmoothieApp</title>
        <meta charset="utf-8" />
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'/>
        <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'/>
        <link href='style.css' rel='stylesheet'/>

    </head>

    <body>
        <div>
            <h1>SmoothieApp</h1>
            <h2>Reseptit</h2>

            <ul>
                <li th:each="smoothie: ${smoothiet}">
                    <span th:text="${smoothie.nimi}"> Marjasmoothie </span>
                    <form th:action="@{~/smoothiet/{id}/poista(id = ${smoothie.id})}" method="POST"><input type="submit" value="Poista"/></form>
                </li>
            </ul>

            <h2>Lisää uusi Smoothieresepti</h2>
            <span>Nimi:</span>
            <form action="/smoothiet/uusi" method="POST">
                <input type="text" name="smoothie"/>
                <input type="submit"/>
            </form>
            <br/>

            <h2>Lisää raaka-aineita reseptiin</h2>

            <form action="/smoothiet/muokkaa" method="POST">
                <p>Valitse muokattavan smoothien nimi:</p>
                <select th:field="${smoothiet}" name="muokattavaSmoothie">
                    <option th:each="smoothie: ${smoothiet}" th:value="${smoothie.id}" th:text="${smoothie.nimi}" name="muokattavaSmoothie"> Marjasmoothie </option>
                </select><br/>

                <p>Valitse lisättävä raaka-aine:</p>

                <select th:field="${raakaAineet}" name="lisattavaRaakaAine">
                    <option th:each="raakaA : ${raakaAineet}" th:value="${raakaA.id}" th:text="${raakaA.nimi}" name="lisattavaRaakaAine"> Vesi</option>
                </select><br/>

                <p>Järjestys:</p>
                <input type="text" name="lisattavanJarjestys"/>
                <br/>

                <p>Määrä:</p>
                <input type="text" name="lisattavanMaara"/>
                <br/>

                <p>Ohje:</p>
                <input type="text" name="lisattavanOhje"/>
                <br/>
                <p></p>
                <input type="submit" value="Lisää reseptiin"/>
            </form>

            <br/>
            <h2>Sivukartta:</h2>
            <a href="/">Etusivu</a><br/>
            <a href="/smoothiet">Muokkaa reseptejä</a><br/>
            <a href="/raakaaineet">Lisää/Poista raaka-aineita</a><br/>
            <a href="/tilastot">Tarkastele smoothieihin liittyviä tilastoja</a><br/>
        </div>
    </body>
</html>